@font-face {
  i.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a.active {
  color: #00b2e3;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.btn {
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  background: transparent;
  overflow: hidden;
}

.btn::after {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn span {
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  background: #000;
}

.btn a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  color: #000;
  position: relative;
  z-index: 5;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::after {
  width: 100%;
}

.btn:hover span {
  height: auto;
  background: transparent;
  color: #fff;
  font-size: 15px;
  -webkit-animation: arrow 1s both;
          animation: arrow 1s both;
}

@-webkit-keyframes arrow {
  from {
    opacity: 0;
    right: 50px;
  }
  to {
    opacity: 1;
    right: 20px;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    right: 50px;
  }
  to {
    opacity: 1;
    right: 20px;
  }
}

.btn:hover a {
  color: #fff;
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
}

@media (max-width: 800px) {
  .header {
    height: 90px;
  }
}

@media (max-width: 480px) {
  .header {
    height: auto;
  }
}

.header.open {
  height: 100%;
  min-height: 100%;
}

.header.black {
  position: fixed;
  background-color: #303439;
}

.header .logo {
  height: 47px;
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  .header .logo {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: calc(40/800*100%);
  }
}

@media (max-width: 600px) {
  .header .logo {
    width: 240px;
  }
}

@media (max-width: 480px) {
  .header .logo {
    width: 160px;
    margin-top: 0;
    padding: 5% 0;
  }
}

.header .logo .ori {
  width: 212px;
  display: block;
}

@media (max-width: 800px) {
  .header .logo .ori {
    width: 100%;
  }
}

.header .logo .cover {
  width: 156px;
  display: none;
}

@media (max-width: 800px) {
  .header .logo .cover {
    width: calc(156/212*100%);
  }
}

.header .menu-btn {
  display: none;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px;
  margin-top: 30px;
  margin-right: 40px;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  .header .menu-icon {
    margin-top: 25px;
    margin-right: calc(40/800*100%);
  }
}

@media (max-width: 480px) {
  .header .menu-icon {
    padding: 4% 10px;
  }
}

.header .menu-icon .navicon {
  width: 26px;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

@media (max-width: 800px) {
  .header .menu-icon .navicon {
    width: 40px;
    height: 3px;
  }
}

@media (max-width: 600px) {
  .header .menu-icon .navicon {
    width: 28px;
  }
}

@media (max-width: 480px) {
  .header .menu-icon .navicon {
    width: 24px;
  }
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  content: '';
  background: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.header .menu-icon .navicon:before {
  top: 4px;
}

.header .menu-icon .navicon:after {
  top: -4px;
}

@media (max-width: 800px) {
  .header .menu-icon .navicon:before {
    top: 12px;
  }
  .header .menu-icon .navicon:after {
    top: -8px;
  }
}

@media (max-width: 600px) {
  .header .menu-icon .navicon:before {
    top: 6px;
  }
  .header .menu-icon .navicon:after {
    top: -8px;
  }
}

@media (max-width: 480px) {
  .header .menu-icon .navicon:before {
    top: 2px;
  }
  .header .menu-icon .navicon:after {
    top: -8px;
  }
}

.header .menu-icon .navicon.black:before, .header .menu-icon .navicon.black:after {
  background: #000;
}

.header .social {
  float: right;
  margin-top: 30px;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  .header .social {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .header .social {
    margin-top: 0;
    padding: 4% 0;
  }
}

.header .social li {
  float: left;
  margin-left: 15px;
  position: relative;
}

.header .social li input.searchbar {
  width: 0px;
  height: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #fff;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding-right: 40px;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .social li input.searchbar:focus, .header .social li input.searchbar:checked {
  outline: 0;
}

.header .social li input.searchbar.is_acted {
  width: 250px;
  padding: 10px 40px 10px 20px;
  border: 1px solid #fff;
}

.header .social li a {
  padding: 10px;
  position: relative;
  z-index: 5;
}

.header .social li a img {
  width: 20px;
  height: 20px;
}

.header .social li a img.ori {
  display: block;
}

.header .social li a img.cover {
  display: none;
}

@media (max-width: 800px) {
  .header .social li a img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .header .social li a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .header .social li a img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 800px) {
  .header .social li {
    display: none;
  }
  .header .social li:first-child {
    display: block;
  }
}

.header .cover_menu {
  width: 100%;
  min-height: 100%;
  background: url(../img/menu_bg.png) center center no-repeat #303439;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  display: none;
}

@media (max-width: 800px) {
  .header .cover_menu {
    background-position: 90% 90%;
    background-size: 120% auto;
  }
}

.header .cover_menu .menu {
  width: 80%;
  height: 460px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 800px) {
  .header .cover_menu .menu {
    height: auto;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    margin-top: 20%;
  }
}

.header .cover_menu .menu .box {
  width: 500px;
  float: left;
}

@media (max-width: 1260px) {
  .header .cover_menu .menu .box {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .header .cover_menu .menu .box {
    width: 100%;
  }
}

.header .cover_menu .menu .box li {
  width: 100%;
  float: left;
}

.header .cover_menu .menu .box li a {
  display: block;
  padding: 0 0 60px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
}

@media (max-width: 800px) {
  .header .cover_menu .menu .box li a {
    font-size: 16px;
    padding: 0 0 20px;
  }
}

.header .cover_menu .menu .box li a span {
  color: #fff;
  display: block;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 800px) {
  .header .cover_menu .menu .box li a span {
    font-size: 24px;
  }
}

.header .cover_menu .menu .box li a:hover {
  opacity: .4;
}

.header .cover_menu .social_mob {
  display: none;
}

@media (max-width: 800px) {
  .header .cover_menu .social_mob {
    display: block;
    text-align: center;
  }
  .header .cover_menu .social_mob li {
    display: inline-block;
    margin-right: 20px;
  }
  .header .cover_menu .social_mob li:last-child {
    margin-right: 0;
  }
  .header .cover_menu .social_mob li a {
    padding: 10px;
  }
  .header .cover_menu .social_mob li a img {
    width: 38px;
    height: 40px;
  }
}

@media (max-width: 560px) {
  .header .cover_menu .social_mob li a img {
    width: 30px;
    height: 30px;
  }
}

.header .cover_menu .copyright {
  width: 80%;
  position: absolute;
  right: 10%;
  bottom: 50px;
}

@media (max-width: 800px) {
  .header .cover_menu .copyright {
    width: 90%;
    position: relative;
    right: unset;
    bottom: unset;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
  }
}

.header .cover_menu .copyright::before {
  content: "";
  width: calc(100% - 700px);
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
}

@media (max-width: 800px) {
  .header .cover_menu .copyright::before {
    width: 100%;
    top: 0;
  }
}

.header .cover_menu .copyright p {
  float: right;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
}

@media (max-width: 800px) {
  .header .cover_menu .copyright p {
    float: unset;
    font-size: 12px;
    line-height: 16px;
  }
}

.header .menu-btn:checked ~ .cover_menu {
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header .menu-btn:checked ~ .logo .ori {
  display: none;
}

.header .menu-btn:checked ~ .logo .cover {
  display: block;
}

.header .menu-btn:checked ~ .social_black li a .ori {
  display: none;
}

.header .menu-btn:checked ~ .social_black li a .cover {
  display: block;
}

footer {
  background: url(../img/footer_bg.png) right -50px no-repeat #161616;
  padding: 100px;
}

@media (max-width: 960px) {
  footer {
    padding: 100px 6 0px;
    position: relative;
    background-position: 120% 120%;
    background-size: 70% auto;
  }
}

@media (max-width: 800px) {
  footer {
    padding: 50px;
  }
}

footer .contentBox {
  overflow: hidden;
}

footer .contentBox .logo {
  width: calc(320/1720*100%);
  float: left;
  margin-top: 100px;
}

footer .contentBox .logo img {
  width: 100%;
  max-width: 175px;
}

@media (max-width: 1200px) {
  footer .contentBox .logo {
    width: calc(520/1720*100%);
  }
}

@media (max-width: 960px) {
  footer .contentBox .logo {
    width: 100%;
    margin-top: 0;
  }
}

footer .contentBox .navItem {
  width: calc(540/1720*100%);
  float: left;
  overflow: hidden;
}

@media (max-width: 960px) {
  footer .contentBox .navItem {
    width: calc(540/960*100%);
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  footer .contentBox .navItem {
    width: calc(240/600*100%);
  }
}

footer .contentBox .navItem ul {
  width: 50%;
  float: left;
}

@media (max-width: 800px) {
  footer .contentBox .navItem ul {
    width: 100%;
  }
}

footer .contentBox .navItem ul li a {
  display: block;
  padding: 0 0 45px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}

@media (max-width: 600px) {
  footer .contentBox .navItem ul li a {
    font-size: 16px;
  }
}

footer .contentBox .navItem ul li a span {
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

footer .contentBox .navItem ul li a:hover {
  opacity: .4;
}

footer .contentBox .companyInfo {
  float: left;
  overflow: hidden;
  margin-top: 90px;
}

@media (max-width: 600px) {
  footer .contentBox .companyInfo {
    width: calc(360/600*100%);
  }
}

@media (max-width: 1200px) {
  footer .contentBox .companyInfo {
    width: calc(620/1720*100%);
    margin-top: -5px;
  }
}

@media (max-width: 960px) {
  footer .contentBox .companyInfo {
    width: calc(420/960*100%);
    margin-top: 45px;
  }
}

footer .contentBox .companyInfo > div {
  float: left;
  color: #fff;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

footer .contentBox .companyInfo > div:last-child {
  margin-right: 0;
}

footer .contentBox .companyInfo > div a {
  color: #fff;
  display: inline-block;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  footer .contentBox .companyInfo > div {
    width: 100%;
  }
}

@media (max-width: 960px) {
  footer .contentBox .companyInfo > div {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  footer .contentBox .companyInfo > div {
    font-size: 16px;
  }
}

footer .contentBox .companyInfo .tel {
  text-decoration: underline;
}

footer .socialBox {
  overflow: hidden;
}

@media (max-width: 960px) {
  footer .socialBox {
    height: 100px;
    position: relative;
    margin-top: 50px;
  }
}

footer .socialBox p {
  width: 380px;
  color: #fff;
  float: left;
  font-size: 18px;
}

@media (max-width: 960px) {
  footer .socialBox p {
    width: 100%;
    position: absolute;
    top: 50px;
  }
  footer .socialBox p::after {
    content: "";
    width: calc(100% - 320px);
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #fff;
  }
}

@media (max-width: 600px) {
  footer .socialBox p {
    top: 70px;
  }
}

@media (max-width: 600px) {
  footer .socialBox p {
    font-size: 14px;
    float: unset;
    text-align: center;
  }
}

footer .socialBox ul {
  width: calc(100% - 380px);
  float: left;
}

@media (max-width: 960px) {
  footer .socialBox ul {
    width: 100%;
    position: absolute;
    top: 0;
  }
}

footer .socialBox ul li {
  display: inline-block;
  margin-right: 30px;
}

footer .socialBox ul li:last-child {
  margin-right: 0;
}

@media (max-width: 960px) {
  footer .socialBox ul li {
    width: calc((100% - 68px) / 3);
  }
}

footer .socialBox ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  footer .socialBox ul li a {
    text-align: center;
  }
}

@media (max-width: 600px) {
  footer .socialBox ul li a {
    font-size: 12px;
  }
}

footer .socialBox ul li a img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  footer .socialBox ul li a img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer .copyright {
  width: calc(100% - 84px);
  height: 80px;
  line-height: 80px;
  position: relative;
  float: left;
  overflow: hidden;
}

@media (max-width: 960px) {
  footer .copyright {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

footer .copyright::before {
  content: "";
  width: calc(100% - 700px);
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
}

@media (max-width: 960px) {
  footer .copyright::before {
    display: none;
  }
}

footer .copyright p {
  float: right;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  footer .copyright p {
    float: none;
    font-size: 12px;
    line-height: 16px;
  }
}

footer .goTop {
  width: 66px;
  height: 66px;
  float: right;
  border: 1px solid #fff;
  overflow: hidden;
}

footer .goTop:hover {
  cursor: pointer;
}

footer .goTop:hover img {
  -webkit-animation: gotop .3s linear;
          animation: gotop .3s linear;
}

@-webkit-keyframes gotop {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes gotop {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media (max-width: 960px) {
  footer .goTop {
    position: absolute;
    top: 100px;
    right: 100px;
  }
}

@media (max-width: 800px) {
  footer .goTop {
    top: 40px;
    right: 40px;
  }
}

footer.simple {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  background: #000;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

@media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
  footer.simple {
    height: auto;
    bottom: 40px;
  }
}

footer.simple .copyright {
  width: 100%;
  height: 50px;
  padding-right: 50px;
}

@media (max-width: 960px) {
  footer.simple .copyright {
    height: auto;
    text-align: center;
    padding-right: 0;
  }
}

footer.simple .copyright::before {
  content: "";
  display: none;
}

@media (max-width: 960px) {
  footer.simple .copyright::before {
    display: none;
  }
}

footer.simple .copyright a {
  color: #fff;
  display: inline-block;
}

footer.simple .copyright p {
  line-height: 50px;
}

@media (max-width: 960px) {
  footer.simple .copyright p {
    line-height: 16px;
    padding: 5px 0;
  }
}

section .theme .container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  section .theme .container {
    width: 90%;
  }
}

section .theme .top_topic {
  height: 350px;
  background: -webkit-gradient(linear, left bottom, right top, from(#e7f9ff), to(#d8f5ff));
  background: linear-gradient(to right top, #e7f9ff, #d8f5ff);
  padding: 160px 0 0;
}

@media (max-width: 1600px) {
  section .theme .top_topic {
    background-position: center 100%;
  }
}

@media (max-width: 1120px) {
  section .theme .top_topic {
    background-position: left 100%;
    background-size: auto 240px;
  }
}

@media (max-width: 800px) {
  section .theme .top_topic {
    position: relative;
    background-position: left 120px;
    background-size: auto 120px;
    padding: 160px 5% 0;
    margin-bottom: 40px;
  }
  section .theme .top_topic:after {
    content: "";
    width: 100%;
    height: 110px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

@media (max-width: 800px) and (max-width: 600px) {
  section .theme .top_topic:after {
    height: 120px;
  }
}

@media (max-width: 800px) and (max-width: 520px) {
  section .theme .top_topic:after {
    height: 80px;
  }
}

@media (max-width: 520px) {
  section .theme .top_topic {
    height: 300px;
    background-position: left 130px;
    background-size: auto 90px;
  }
}

section .theme .top_topic .topicBox {
  width: 100%;
  height: 200px;
  background: url(../img/benefits/title_bg.svg) right 110% no-repeat;
  background-size: contain;
}

@media (max-width: 800px) {
  section .theme .top_topic .topicBox {
    float: unset;
    position: relative;
    z-index: 2;
  }
}

section .theme .top_topic .topicBox .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  section .theme .top_topic .topicBox .container {
    width: 90%;
  }
}

section .theme .top_topic .topicBox .title {
  font-size: 18px;
  color: #006284;
}

@media (max-width: 800px) {
  section .theme .top_topic .topicBox .title {
    position: relative;
    font-size: 3.6vw;
    font-weight: 300;
  }
}

section .theme .top_topic .topicBox .title span {
  font-size: 110px;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  margin-right: 20px;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 1120px) {
  section .theme .top_topic .topicBox .title span {
    font-size: 92px;
  }
}

@media (max-width: 1120px) {
  section .theme .top_topic .topicBox .title span {
    font-size: 74px;
  }
}

@media (max-width: 800px) {
  section .theme .top_topic .topicBox .title span {
    height: 110px;
    line-height: 110px;
    font-size: 10.4vw;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

@media (max-width: 600px) {
  section .theme .top_topic .topicBox .title span {
    height: 90px;
    line-height: 90px;
  }
}

@media (max-width: 520px) {
  section .theme .top_topic .topicBox .title span {
    height: 66px;
    line-height: 66px;
  }
}

section .theme .top_topic.single {
  background: #cbeeff;
}

section .theme .top_topic.single .topicBox {
  float: unset;
}

section .theme .top_topic.single .topicBox .title {
  text-align: center;
}

section .theme .top_topic.single .topicBox .title span {
  display: block;
}

section .theme .benefitsBox {
  margin-top: 50px;
}

section .theme .benefitsBox .introduction {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  section .theme .benefitsBox .introduction {
    text-align: left;
  }
}

section .theme .benefitsBox ul {
  overflow: hidden;
}

section .theme .benefitsBox ul li {
  width: calc( (100% - 100px) / 3);
  margin-right: 50px;
  margin-bottom: 86px;
  float: left;
}

section .theme .benefitsBox ul li:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1200px) {
  section .theme .benefitsBox ul li {
    width: calc( (100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  section .theme .benefitsBox ul li {
    width: calc( (100% - 30px) / 2);
  }
  section .theme .benefitsBox ul li:nth-child(3n) {
    margin-right: 30px;
  }
  section .theme .benefitsBox ul li:nth-child(2n) {
    margin-right: 0;
  }
}

section .theme .benefitsBox .btn {
  width: 520px;
  margin: 0 auto 86px;
  border: 1px solid #006284;
}

@media (max-width: 800px) {
  section .theme .benefitsBox .btn {
    width: calc(520/800*100%);
  }
}

section .theme .newsContent .topBox {
  margin-bottom: 40px;
  overflow: hidden;
}

section .theme .newsContent .topBox .dateBox {
  font-size: 16px;
  line-height: 24px;
  color: #006284;
}

section .theme .newsContent .topBox .titleBox {
  width: calc(100% - 100px);
  font-size: 30px;
  line-height: 30px;
  float: left;
}

section .theme .newsContent .topBox .categoryBox {
  width: 100px;
  font-size: 18px;
  float: right;
  text-align: right;
}

section .theme .newsContent .topBox .categoryBox a {
  text-decoration: underline;
  color: #006284;
}

section .theme .newsContent .contentBox .imgBox {
  margin-bottom: 90px;
}

section .theme .newsContent .contentBox p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 26px;
}

section .theme .newsContent .contentBox p a {
  display: inline-block;
  font-weight: 500;
  text-decoration: underline;
  color: #006284;
}

section .theme .newsContent .btn {
  width: 520px;
  margin: 0 auto 86px;
}
/*# sourceMappingURL=benefits.css.map */