footer{
    background: url(../img/footer_bg.png) right -50px no-repeat #161616;
    padding: 100px;
    @media (max-width:960px){
        padding: 100px 6 0px;
        position: relative;
        background-position: 120% 120%;
        background-size: 70% auto;
    }
    @media (max-width:800px){
        padding: 50px;
    }
    .contentBox{
        overflow: hidden;
        .logo{
            width: calc(320/1720*100%);
            float: left;
            margin-top: 100px;
            img{ width: 100%; max-width: 175px;}
            @media (max-width:1200px){
                width: calc(520/1720*100%);
            }
            @media (max-width:960px){
                width: 100%;
                margin-top: 0;
            }
        }
        .navItem{
            width: calc(540/1720*100%);
            float: left;
            overflow: hidden; 
            @media (max-width:960px){
                width: calc(540/960*100%);
                margin-top: 50px;
            }
            @media (max-width:600px){
                width: calc(240/600*100%);
            }
            ul{
                width: 50%;
                float: left;
                @media (max-width:800px){
                    width: 100%;
                }
                li{
                    a {
                        display: block;
                        padding: 0 0 45px;
                        text-decoration: none;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 100;
                        @media (max-width:600px){
                            font-size: 16px;
                        }
                        span{
                            color: #fff;
                            display: block;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform:uppercase;
                            font-family: 'Playfair Display', serif;
                        }
                        &:hover {
                            opacity: .4;
                        }
                    }
                }
            }
        }
        .companyInfo{
            @media (max-width:600px){
                width: calc(360/600*100%);
            }
            float: left;
            overflow: hidden;
            margin-top: 90px;
            @media (max-width:1200px){
                width: calc(620/1720*100%);
                margin-top: -5px;
            }
            @media (max-width:960px){
                width: calc(420/960*100%);
                margin-top: 45px;
            }
            > div{ 
                float: left;
                color: #fff;
                margin-right: 50px;
                margin-bottom: 20px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 300;
                &:last-child{ margin-right: 0;}
                a{ color: #fff; display: inline-block; text-decoration: underline;}
                @media (max-width:1200px){
                    width: 100%;
                }
                @media (max-width:960px){
                    font-size: 20px;
                }
                @media (max-width:600px){
                    font-size: 16px;
                }
            }
            .tel{
                text-decoration: underline;
            }

        }
    }
    .socialBox{
        overflow: hidden;
        @media (max-width:960px){
            height: 100px;
            position: relative;
            margin-top: 50px;
        }
        p{
            width: 380px;
            color: #fff;
            float: left;
            font-size: 18px;
            @media (max-width:960px){
                width: 100%;
                position: absolute;
                top: 50px;
                &::after{
                    content: "";
                    width: calc(100% - 320px);
                    height: 1px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    background-color: #fff;
                }
            }
            @media (max-width:600px){
                top: 70px;
            }
            @media (max-width:600px){
                font-size: 14px;
                float: unset;
                text-align: center;
            }
        }
        ul{
            width: calc(100% - 380px);
            float: left;
            @media (max-width:960px){
                width: 100%;
                position: absolute;
                top: 0;
            }
            li{
                display: inline-block;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
                @media (max-width:960px){
                    width: calc((100% - 68px) / 3);
                }
                a{
                    color: #fff;
                    font-weight: 300;
                    font-size: 18px;
                    text-transform:uppercase;
                    @media (max-width:960px){
                        text-align: center;
                    }
                    @media (max-width:600px){
                        font-size: 12px;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        @media (max-width:600px){
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

        }
    }
    .copyright{
        width: calc(100% - 84px);
        height: 80px;
        line-height: 80px;
        position: relative;
        float: left;
        overflow: hidden;
        @media (max-width:960px){
            width: 100%;
            height: auto;
            text-align: center;
        }
        &::before{
            content: "";
            width: calc(100% - 700px);
            height: 1px;
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: #fff;
            @media (max-width:960px){
                display: none;
            }
        }
        p{
            float: right;
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
            @media (max-width:960px){
                float: none;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .goTop{
        width: 66px;
        float: right;
        &:hover{
            cursor: pointer;
        }
        @media (max-width:960px){
            position: absolute;
            top: 100px;
            right: 100px;
        }
        @media (max-width:800px){
            top: 40px;
            right: 40px;
        }
    }
    &.simple{
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        background: #000;
        position: absolute;
        z-index: 10;
        bottom: 0;
        @media (orientation: portrait) and (max-width:960px), (max-width:800px){
            height: auto;
            bottom: 40px;
        }
        @media (max-width:600px){
            bottom: 90px;
        }
        .copyright{
            width: 100%;
            height: 50px;
            padding-right: 50px;
            @media (max-width:960px){
                height: auto;
                text-align: center;
                padding-right: 0;
            }
            &::before{
                content: "";display: none;
                @media (max-width:960px){
                    display: none;
                }
            }
            p{
                line-height: 50px;
                @media (max-width:960px){
                    line-height: 16px;
                    padding: 5px 0;
                }
            }
        }
    }
}
