.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 9; 
    transition: all .3s;
    @media (max-width:800px){
        // height: auto;
        padding-bottom: 20px;
    }
    @media (max-width:480px){
        padding-bottom: 0;
    }
    &.bgopen_black{
        background: -webkit-gradient(linear, left bottom, right top, from(#e7f9ff), to(#d8f5ff));
        background: linear-gradient(to right top, #e7f9ff, #d8f5ff);
    }
    &.bgopen_white{
        background-color: rgba(255,255,255,.5);
    }
    &.bgopen{
        background: rgba(0,98,132,1);
    }
    .logo, .logo_cover {
        height: 47px;
        display: block;
        float: left;
        margin-top: 30px;
        margin-left: 40px;
        position: relative;
        z-index: 5;
        @media (max-width:800px){
            width: 300px;
            height: auto;
            margin-top: 20px;
            margin-left: calc(40/800*100%);
        }
        @media (max-width:600px){
            width: 240px;
        }
        @media (max-width:480px){
            width: 160px;
            margin-top: 0;
            padding: 5% 0;
        }
        .ori{
            width: 212px;
            display: block;
            @media (max-width:800px){
                width: 100%;
            }
        }
        .cover{
            width: 156px;
            display: none;
            @media (max-width:800px){
                width: calc(156/212*100%);
            }
        }
        .black{ display: none;}
    }
    .logo_cover{
        display: none;
    }
    .menu-btn { display: none;}
    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 20px;
        margin-top: 30px;
        margin-right: 40px;
        position: relative;
        z-index: 5;
        @media (max-width:800px){
            margin-top: 22px;
            margin-right: calc(40/800*100%);
        }
        @media (max-width:480px){
            padding:4% 10px;
        }
        .navicon {
            width: 26px;
            display: block;
            height: 1px;
            position: relative;
            transition: background .2s ease-out;
            @media (max-width:800px){
                width: 40px;
                height: 3px;
            }
            @media (max-width:600px){
                width: 28px;
            }
            @media (max-width:480px){
                width: 24px;
            }
            &:before, &:after {
                content: '';
                background: #fff;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
            }
            &:before { top: 4px;}
            &:after { top: -4px;}
            // &:before, &:after {
            //     background: #000;
            // }
            @media (max-width:800px){
                &:before { top: 12px;}
                &:after { top: -8px;}
            }
            @media (max-width:600px){
                &:before { top: 6px;}
                &:after { top: -8px;}
            }
            @media (max-width:480px){
                &:before { top: 2px;}
                &:after { top: -8px;}
            }
            &.black{
                &:before, &:after {
                    background: #000;
                }
            }
        }
    }
    .social, .social_cover{
        float: right;
        margin-top: 30px;
        position: relative;
        z-index: 5;
        @media (max-width:800px){
            margin-top: 20px;
            margin-right: 0;
        }
        @media (max-width:480px){
            margin-top: 0;
            padding: 4% 0;
        }
        li {
            float: left;
            margin-left: 15px;
            position: relative;
            a{
                padding: 10px;
                position: relative;
                z-index: 5;
                &.search{ 
                    display: none;
                    &.is_acted{
                        display: block;
                    }
                }
                &.search_active{ 
                    display: none;
                    &.is_acted{
                        display: block;
                    }
                }
                &.search_cover{ 
                    display: none;
                    &.is_acted{
                        display: block;
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    &.ori{ display: block;}
                    &.cover{ display: none;}
                    &.black{ display: none;}
                    @media (max-width:800px){
                        width: 40px;
                        height: 40px;
                    }
                    @media (max-width:600px){
                        width: 30px;
                        height: 30px;
                    }
                    @media (max-width:480px){
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            @media (max-width:800px){
                display: none;
                &:first-child{
                    display: block;
                }
            }
        }
    }
    .social_cover{
        display: none;
    }
    input.searchbar{
        width: 0px;
        height: 40px;
        border-radius: 20px;
        background: rgba(255,255,255,.2);
        border: 0;
        position: absolute;
        z-index: 1;
        right: 210px;
        top: 30px;
        padding-right: 40px;
        padding: 0;
        transition: all .3s;
        @media (max-width:800px){
            position: relative;
            right: unset;
            top: unset;
        }
        &:focus, &:checked{
            outline: 0;
        }
        &.is_acted{
            width: 250px;
            padding: 10px 40px 10px 20px;
            @media (max-width:800px){
                width: 90vw;
                margin: 100px auto 0;
                display: block;
            }
            @media (max-width:480px){
                margin: 60px auto 20px;
            }
        }
        &.black{
            color: #303439;
            &.is_acted{
                border: 1px solid #303439;
            }
        }
        &.white{
            color: #fff;
            &.is_acted{
                border: 1px solid #fff;
            }
        }
    }
    .cover_menu{
        width: 100%;
        min-height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all .3s linear;
        display: none;
        @media (max-width:800px){
            background-position: 90% 90%;
            background-size: 120% auto;
        }
        .menu {
            width: 80%;
            height: 460px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: hidden;
            display: none;
            @media (max-width:800px){
                height: auto;
                position: relative;
                top: unset;
                right: unset;
                bottom: unset;
                left: unset;
                margin-top: 80px;
            }
            .box{
                width: 500px;
                float: left;
                @media (max-width:1260px){
                    width: 50%;
                }
                @media (max-width:800px){
                    width: 100%;
                }
                li {
                    width: 100%;
                    float: left;
                    a {
                        display: block;
                        padding: 0 0 60px;
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 100;
                        letter-spacing: 3px;
                        @media (max-width:800px){
                            font-size: 14px;
                            padding: 0 0 20px;
                        }
                        span{
                            color: #fff;
                            display: block;
                            font-size: 32px;
                            font-weight: 400;
                            text-transform:uppercase;
                            font-family: 'Playfair Display', serif;
                            @media (max-width:800px){
                                font-size: 22px;
                            }
                        }
                        &:hover {
                            opacity: .4;
                        }
                    }
                }
            }
        }
        .social_mob{
            display: none;
            @media (max-width:800px){
                display: block;
                text-align: center;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child{ margin-right: 0;}
                    a{
                        padding: 10px;
                        img{ width: 38px; height: 40px;}
                    }
                }
            }
            @media (max-width:560px){
                li {
                    a{
                        img{ width: 26px; height: 26px;}
                    }
                }
            }
        }
        .copyright{
            width: 80%;
            position: absolute;
            right: 10%;
            bottom: 50px;
            display: none;
            @media (max-width:800px){
                width: 90%;
                position: relative;
                right: unset;
                bottom: unset;
                margin: 0 auto;
                text-align: center;
                padding: 20px 0;
            }
            &::before{
                content: "";
                width: calc(100% - 380px);
                height: 1px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                background-color: #fff;
                @media (max-width:800px){
                    width: 100%;
                    top: 0;
                }
            }
            p{
                float: right;
                font-size: 14px;
                font-weight: 300;
                color: #fff;
                letter-spacing: 1px;
                position: relative;
                @media (max-width:800px){
                    float: unset;
                    font-size: 12px;
                    line-height: 16px;    
                }
            }
        }

    }

    &.open{
        height: 100vh;
        // max-height: 1080px;
        .cover_menu{
            display: block;
            background: url(../img/menu_bg.png) center center no-repeat #303439;
            .menu, .copyright {
                display: block;
            }
        }
        .social{
            display: none;
        }
        .social_cover{
            display: block;
        }
    }

    .menu-btn:checked ~ .cover_menu {
        display: block;
    }
    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
        background: #fff;
    }
    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
        background: #fff;
    }
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    .menu-btn:checked ~ #logo {
        opacity: 0;
        visibility: hidden;
    }
    .menu-btn:checked ~ .logo_cover {
        display: block;
    }
    .menu-btn:checked ~ .logo_cover .cover {
        display: block;
    }
    .menu-btn:checked ~ #logo {
        display: none;
    }
    .menu-btn:checked ~ .social_black li a{
        .ori{ display: none;}
        .cover{ display: block;}
    }
    
}

.menu .menu-fix {
    visibility: visible !important;
}

  
  