@import '_setting';
@import '_header';
@import '_footer';

// *{ outline: 1px solid red;}
section{
    .theme{
        .container{
            width: 100%;
            max-width: 1600px;
            margin: 0 auto;
            @media (max-width:1600px){
                width: 90%;
            }
        }
        .top_topic{
            height: 350px;
            // background: url(../img/news/title_bg.svg) right 110% no-repeat #cbeeff;
            background: -webkit-linear-gradient(left bottom,#e7f9ff,#d8f5ff);
            background: -o-linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background: -moz-linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background: linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 160px 0 0;
            // margin-bottom: 120px;
            // overflow: hidden;
            @media (max-width:1600px){
                background-position: center 100%;
                // background-size: auto 200px;
            }
            @media (max-width:1120px){
                background-position: left 100%;
                background-size: auto 240px;
            }
            @media (max-width:800px){
                position: relative;
                background-position: left 120px;
                background-size: auto 120px;
                padding: 160px 5% 0;
                margin-bottom: 40px;
                &:after{
                    content: "";
                    width: 100%;
                    height: 110px;
                    background-color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 0;
                    @media (max-width:600px){
                        height: 120px;
                    }
                    @media (max-width:520px){
                        height: 80px;
                    }
                }
            }
            @media (max-width:520px){
                height: 300px;
                background-position: left 130px;
                background-size: auto 90px;
            }
            .topicBox{
                width: 100%;
                height: 200px;
                // float: left;
                background: url(../img/cases/title_bg.svg) right 110% no-repeat;
                background-size: contain;
                @media (max-width:800px){
                    float: unset;
                    position: relative;
                    z-index: 2;
                }
                .title{
                    font-size: 18px;
                    color: #006284;
                    @media (max-width:800px){
                        position: relative;
                        font-size: 3.6vw;
                        font-weight: 300;
                    }
                    span{ 
                        font-size: 110px;
                        color: #000;
                        font-family: 'Playfair Display', serif;
                        font-weight: 200;
                        margin-right: 20px;
                        display: inline-block;
                        text-transform: uppercase;
                        @media (max-width:1120px){
                            font-size: 92px;
                        }
                        @media (max-width:1120px){
                            font-size: 74px;
                        }
                        @media (max-width:800px){
                            height: 110px;
                            line-height: 110px;
                            font-size: 10.4vw;
                            display: block;
                            position: absolute;
                            top: 20px;
                            left: 0;
                        }
                        @media (max-width:600px){
                            height: 90px;
                            line-height: 90px;
                        }
                        @media (max-width:520px){
                            height: 66px;
                            line-height: 66px;
                        }
                    }
                }
            }
            &.single{
                background: #cbeeff;
                .topicBox{
                    float: unset;
                    .title{
                        text-align: center;
                        span{ 
                            display: block;}


                    }
                }
            }
        }
        .casesBox{
            margin-top: 50px;
            .listBox{
                margin-top: 50px;
                .list{    
                    ul{
                        overflow: hidden;
                        li{
                            width: calc( (100% - 150px) / 4);
                            margin-right: 50px;
                            margin-bottom: 86px;
                            float: left;
                            &:nth-child(4n){ margin-right: 0;}
                            @media (max-width:1200px){
                                width: calc( (100% - 90px) / 4);
                                margin-right: 30px;
                            }
                            @media (max-width:960px){
                                width: calc( (100% - 30px) / 2);
                                &:nth-child(4n){ margin-right: 30px;}
                                &:nth-child(2n){ margin-right: 0;}
                            }
                            .imgBox{}
                            .titleBox{
                                font-size: 24px;
                                margin-top: 20px;
                                margin-bottom: 10px;
                                color: #006284;
                            }
                            .introBox{ 
                                font-size: 18px;
                                color: #006284;
                                li{
                                    width: 50%;
                                    margin-right: 0;
                                    margin-bottom: 0;
                                    line-height: 30px;
                                    span{ display: inline-block;}
                                    span:nth-child(1){ width: 64px; font-size: 16px; font-weight: 100;}
                                    span:nth-child(2){ font-size: 18px;}
                                    @media (max-width:1600px){
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .btn{ 
                        width: 520px;
                        margin: 0 auto 86px;
                        border: 1px solid #006284;
                        @media (max-width: 800px){
                            width: calc(520/800*100%);
                        }
                    }

                }
            }
            .yearBox{
                .year{
                    height: 80px;
                    text-align: center;
                    position: relative;
                    &:before, &:after{
                        content: "...................................................................................................................................................";
                        width: 50%;
                        height: 12px;
                        line-height: 12px;
                        font-size: 12px;
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        margin-top: -10px;
                        overflow: hidden;
                        letter-spacing: 2px;
                    }
                    &:before{
                        left: 0;
                    }
                    &:after{
                        right: 0;
                    }
                    span{
                        font-family: 'Cardo', serif;
                        font-size: 48px;
                        line-height: 80px;
                        color: #ececec;
                        font-weight: 400;
                        font-style: italic;
                        transition: all .3s;
                        padding: 0 20px;
                        display: inline-block;
                        position: relative;
                        z-index: 2;
                        background-color: #fff;
                        @media (max-width:960px){
                            font-size: 32px;
                        }
                        &:before, &:after{
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -3px;
                            background-color: #5e6165;

                        }
                        &:before{
                            left: 0;
                        }
                        &:after{
                            right: 0;
                        }
                    }
                }
                .slick-slide:first-child{
                    .year{
                        &:before{
                            display: none;
                        }
                        span{
                            &:before{
                                display: none;
                            }
                        }
                    }

                }
                .slick-slide:last-child{
                    .year{
                        &:after{
                            display: none;
                        }
                        span{
                            &:after{
                                display: none;
                            }
                        }
                    }

                }

                .slick-current{
                    .year{
                        height: 80px;
                        span{
                            line-height: 80px;
                            color: #5e6165;
                            font-size: 80px;
                            @media (max-width:960px){
                                font-size: 60px
                            }
                        }
                    }
                }
            }
            // .yearBox{
            //     margin-bottom: 80px;
            //     .year{
            //         height: 80px;
            //         text-align: center;
            //         position: relative;
            //         &:before, &:after{
            //             content: "...................................................................................................................................................";
            //             width: 50%;
            //             height: 12px;
            //             line-height: 12px;
            //             font-size: 12px;
            //             display: block;
            //             position: absolute;
            //             z-index: 1;
            //             top: 50%;
            //             margin-top: -10px;
            //             overflow: hidden;
            //             letter-spacing: 2px;
            //         }
            //         &:before{
            //             left: 0;
            //         }
            //         &:after{
            //             right: 0;
            //         }
            //         span{
            //             font-family: 'Cardo', serif;
            //             font-size: 48px;
            //             line-height: 80px;
            //             color: #d5d4d4;
            //             font-weight: 400;
            //             font-style: italic;
            //             transition: all .3s;
            //             padding: 0 20px;
            //             display: inline-block;
            //             position: relative;
            //             z-index: 2;
            //             background-color: #fff;
            //             @media (max-width:960px){
            //                 font-size: 32px;
            //             }
            //             &:before, &:after{
            //                 content: "";
            //                 width: 6px;
            //                 height: 6px;
            //                 border-radius: 50%;
            //                 display: block;
            //                 position: absolute;
            //                 top: 50%;
            //                 margin-top: -3px;
            //                 background-color: #5e6165;

            //             }
            //             &:before{
            //                 left: 0;
            //             }
            //             &:after{
            //                 right: 0;
            //             }
            //         }
            //     }
            //     .slick-slide{ float: left;}
            //     .slick-slide:first-child{
            //         .year{
            //             &:before{
            //                 display: none;
            //             }
            //             span{
            //                 &:before{
            //                     display: none;
            //                 }
            //             }
            //         }

            //     }
            //     .slick-slide:last-child{
            //         .year{
            //             &:after{
            //                 display: none;
            //             }
            //             span{
            //                 &:after{
            //                     display: none;
            //                 }
            //             }
            //         }

            //     }

            //     .slick-current{
            //         .year{
            //             height: 80px;
            //             span{
            //                 line-height: 80px;
            //                 color: #000000;
            //                 font-size: 80px;
            //                 @media (max-width:960px){
            //                     font-size: 60px
            //                 }
            //             }
            //         }
            //     }
            // }
        }
        .newsContent{
            .topBox{
                margin-bottom: 40px;
                overflow: hidden;
                .dateBox{
                    font-size: 16px;
                    line-height: 24px;
                    color: #006284;
                }
                .titleBox{
                    width: calc(100% - 100px);
                    font-size: 30px;
                    line-height: 30px;
                    float: left;
                }
                .categoryBox{
                    width: 100px;
                    font-size: 18px;
                    float: right;
                    text-align: right;
                    a{
                        text-decoration: underline;
                        color: #006284;
                    }
                }
            }
            .contentBox{
                .imgBox{
                    margin-bottom: 90px;
                }
                p{
                    font-size: 20px;
                    line-height: 36px;
                    font-weight: 300;
                    margin-bottom: 26px;
                    a{
                        display: inline-block;
                        font-weight: 500;
                        text-decoration: underline;
                        color: #006284;
                    }
                }
            }
            .btn{ 
                width: 520px;
                margin: 0 auto 86px;
            }
        }
    }
}

.slider-year{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        z-index: 10;
        background-color: #fff;
        transition: all .3s;
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: 0;
        &:hover{
            left: -10px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 0;
        &:hover{
            right: -10px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}