@import '_setting';
@import '_header';
@import '_footer';

// *{ outline: 1px solid red;}
// section{
    .theme{
        position: relative;
        background: #fff;
        // &:after{
        //     content: "";
        //     width: 100%;
        //     height: 180px;
        //     display: block;
        //     position: absolute;
        //     bottom: 0;
        //     background: #161616;
        //     z-index: -1;
        // }
        .container{
            width: 100%;
            max-width: 1600px;
            margin: 0 auto;
            @media (max-width:1600px){
                width: 90%;
            }
        }
        .top_topic{
            height: 350px;
            // background: url(../img/contact/title_bg.svg) right 110% no-repeat #cbeeff;
            background: -webkit-linear-gradient(left bottom,#e7f9ff,#d8f5ff);
            background: -o-linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background: -moz-linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background: linear-gradient(to right top,#e7f9ff,#d8f5ff);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 160px 0 0;
            // margin-bottom: 120px;
            // overflow: hidden;
            position: relative;
            @media (max-width:800px){
                height: 245px;
                padding-top: 90px;
                &:after{
                    content: "";
                    width: 100%;
                    // height: 110px;
                    background-color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 0;
                    // @media (max-width:600px){
                    //     height: 120px;
                    // }
                    // @media (max-width:520px){
                    //     height: 80px;
                    // }
                }
            }
            @media (max-width:660px){
                height: 200px;
            }
            // @media (max-width:520px){
            //     height: 300px;
            // }
            .topicBox{
                width: 100%;
                height: 200px;
                // float: left;
                background: url(../img/contact/title_bg.svg) right 110% no-repeat;
                background-size: contain;
                @media (max-width:800px){
                    height: 160px;
                    float: unset;
                    position: relative;
                    z-index: 2;
                    background-position: left bottom;
                    padding-top: 80px;
                    background-size: auto 100%;
                }
                @media (max-width:660px){
                    height: 100px;
                    background-size: auto 100%;
                    padding-top: 40px;
                }
                .title{
                    font-size: 18px;
                    color: #006284;
                    @media (max-width:800px){
                        position: relative;
                        font-size: 3.6vw;
                        font-weight: 300;
                    }
                    span{ 
                        font-size: 110px;
                        color: #000;
                        font-family: 'Playfair Display', serif;
                        font-weight: 200;
                        margin-right: 20px;
                        display: inline-block;
                        text-transform: uppercase;
                        @media (max-width:1120px){
                            font-size: 92px;
                        }
                        @media (max-width:1120px){
                            font-size: 74px;
                        }
                        @media (max-width:800px){
                            height: 110px;
                            line-height: 110px;
                            font-size: 10.4vw;
                            display: block;
                            position: absolute;
                            top: 20px;
                            left: 0;
                        }
                        @media (max-width:600px){
                            height: 90px;
                            line-height: 90px;
                        }
                        @media (max-width:520px){
                            height: 66px;
                            line-height: 66px;
                        }
                    }
                }
            }
        }
        .contactBox{
            padding-top: 100px;
            padding-bottom: 60px;
            .introduction{
                font-size: 18px;
                line-height: 30px;
                font-weight: 100;
                margin-top: -40px;
                margin-bottom: 60px;
                @media (max-width:600px){
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
            .contactForm{
                background: url(../img/contact/form_bg.jpg) center center no-repeat;
                background-size: cover;
                padding: 140px 200px;
                @media (max-width:1600px){
                    padding: 140px 100px;
                }
                @media (max-width:1260px){
                    padding: 140px 50px;
                }
                @media (max-width:800px){
                    background: url(../img/contact/form_bg_mob.jpg) center center no-repeat;
                    padding: 80px 50px;
                }
                @media (max-width:480px){
                    padding: 50px 30px;
                }
                &.container{
                    width: 90%;
                    max-width: 1500px;
                    margin: 60px auto 0;
                    padding: 50px;
                }
                .formBox{
                    overflow: hidden;
                    padding-bottom: 30px;
                    input, button, textarea{
                        appearance:none;   
                        -moz-appearance:none;   
                        -webkit-appearance:none; 
                        -ms-appearance:none; 
                        border: 0;
                        padding: 10px;
                        position: relative;
                    }
                    .group{
                        width: 48%;
                        float: left;
                        margin-right: 4%;
                        @media (max-width:1200px){
                            width: 100%;
                            float: unset;
                            margin: 0 auto;
                        }
                        &:nth-child(2){
                            margin-right: 0;
                            @media (max-width:1200px){
                                margin: 0 auto;
                            }
                        }
                        .item{
                            width: 100%;
                            border-bottom: 1px solid #9c9c9c;
                            margin-top: 20px;
                            overflow: hidden;
                            &:first-child{ margin-top: 0;}
                            &.noline{ border-bottom: 0; margin-top: 30px;}
                            label{
                                width: 120px;
                                float: left;
                                height: 80px;
                                line-height: 80px;
                                font-size: 18px;
                                font-weight: 300;
                                @media (max-width:800px){
                                    width: 90px;
                                }
                                @media (max-width:600px){
                                    font-size: 15px;
                                }
                                &.checktxt{
                                    width: calc( 100% - 200px);
                                    @media (max-width:800px){
                                        width: calc( 100% - 34px);
                                        display: block;
                                    }
                                    @media (max-width:480px){
                                        font-size: 14px;
                                    }
                                }
                            }
                            input[type="text"]{
                                width: calc(100% - 120px);
                                height: 80px;
                                line-height: 80px;
                                float: right;
                                background-color: transparent;
                                font-size: 18px;
                                @media (max-width:800px){
                                    width: calc(100% - 90px);
                                }
                                &:focus{
                                    outline: 0;
                                }
                            }
                            input[type="checkbox"]{
                                width: 24px;
                                height: 24px;
                                float: left;
                                border: 1px solid #000;
                                margin-top: 30px;
                                margin-right: 10px;
                                &:focus{
                                    outline: 0;
                                }
                                &:checked{
                                    outline: 0;
                                    bottom: 0;
                                    &:after{
                                        width: 20px;
                                        height: 20px;
                                        content: "";
                                        background: url(../img/check.svg) 0 0 no-repeat;
                                        position: absolute;
                                        z-index: 3;
                                        top: 0;
                                        left: 0;
                    
                                    }
                                }
                            }
                            textarea{
                                width: 100%;
                                background-color: transparent;
                                border: 0;
                                font-size: 18px;
                                height: 96px;
                                resize: none;
                                &:checked, &:focus{
                                    outline: 0;
                                }
                            }
                        }
                    }
                    button{
                        width: 160px;
                        float: left;
                        height: 50px;
                        border: 1px solid #006284;
                        background: transparent;
                        color: #424242;
                        font-size: 20px;
                        text-align: center;
                        margin-top: 15px;
                        transition: all .3s;
                        position: relative;
                        padding: 0;
                        @media (max-width:800px){
                            font-size: 16px;
                            float: unset;
                            display: block;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        &::after{
                          content: "";
                          width: 0;
                          height: 100%;
                          background: #006284;
                          position: absolute;
                          z-index: 1;
                          left: 0;
                          top: 0;
                          transition: all .3s;
                        }
                        span{
                            width: 20px;
                            height: 2px;
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            overflow: hidden;
                            // background: #000;
                            display: none;
                        }
                        a{
                            transition: all .3s;
                            text-transform: uppercase;
                            color: #006284;
                            position: relative;
                            z-index: 5;
                        }
                        &:hover{
                            cursor: pointer;
                            &::after{
                              width: 100%;
                            }
                            span{
                              height: auto;
                              background: transparent;
                              color: #fff;
                              font-size: 15px;
                              animation: arrow 1s both;
                              display: block;
                              @keyframes arrow {
                                from{ opacity: 0; right: 50px;}
                                to{ opacity: 1; right: 5px;}
                              }
                        
                            }
                            a{ color: #fff;}
                        }
                    }
                }
                
            }
        }
    }
        .popup{
            width: 100%;
            min-height: 100%;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.6);
            opacity: 0;
            visibility: hidden;
            transition: all .5s;
            .popup_content{
                text-align: center;
                background-color: #fff;
                color: #000000;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                &.popup_img{
                    width: 600px;
                    height: 600px;
                    padding: 50px;
                    @media (max-width:600px){
                        width: 100vw;
                        height: 100vw;
                        padding: 10vw;
                    }
                    .close{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        right: 6px;
                        top: 6px;
                        text-align: center;
                        i{
                            font-size: 32px;
                            line-height: 40px;
                        }
                    }
                }
                &.popup_message{
                    width: 320px;
                    height: 60px;
                    line-height: 60px;
                }
            }
            &.is_acted{
                opacity: 1;
                visibility: visible;
            }
        }
// }
