@import '_setting';
@import '_header';
@import '_footer';

// *{ outline: 1px solid red;}
body{
    background: #f7f9fa;
}
section{
    .theme{
        .container{
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            @media (max-width:1600px){
                width: 90%;
            }
        }
        .tag-btn{ display: none;}
        .top_topic{
            height: 350px;
            background: url(../img/project/title_bg.svg) right 110% no-repeat #cbeeff;
            background-size: auto 240px;
            padding: 160px 50px 0;
            margin-bottom: 120px;
            overflow: hidden;
            .topicBox{                
                float: left;
                .title{
                    font-size: 18px;
                    color: #006284;
                    span{ 
                        font-size: 110px;
                        color: #000;
                        font-family: 'Playfair Display', serif;
                        font-weight: 200;
                        margin-right: 20px;
                        display: inline-block;
                        text-transform: uppercase;
                    }
                }
            }
            .category{
                width: 600px;
                float: right;
                margin-top: 100px;
                text-align: right;
                .title{
                    display: inline-block;
                    margin-right: 50px;
                }
                ul{
                    display: inline-block;
                    li{ 
                        display: inline-block;
                        margin-right: 20px;
                        &.active{
                            color: #006284;
                            text-decoration: underline;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                        &:last-child{
                            border-left: 1px solid #c9c9c9;
                            padding-left: 20px;
                            .tag-icon{ 
                                display: inline-block;
                                vertical-align: middle;
                            }
                            i{ 
                                display: inline-block;
                                vertical-align: middle;
                                color: #006284;
                                transition: all .3s;
                                &.more{ display: block;}
                                &.less{ display: none;}
                            }
                        }
                    }
                }
            }
        }
        .tagContent{
            width: 100%;
            height: 80px;
            margin-top: -120px;
            padding-bottom: 160px;
            display: none;
            transition: all .3s;
            ul{
                background: #fff;
                text-align: center;
                li{
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 18px;
                    line-height: 80px;
                    &:hover{
                        cursor: pointer;
                    }
                    &.active{
                        color: #006284;
                    }
                }
            }
        }
        .projectBox{
            ul{
                display: table;
                margin-bottom: 86px;
                li{
                    width: calc(100% / 3);
                    float: left;
                    background: #fff;
                    padding: 50px;
                    border: 1px solid #c9c9c9;
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    transition: all .3s;
                    &:nth-child(1), &:nth-child(2), &:nth-child(3){ border-top: 1px solid #c9c9c9;}
                    &:nth-child(3n){ border-right: 1px solid #c9c9c9;}
                    .imgBox{}
                    .titleBox{
                        font-size: 30px;
                        margin-top: 20px;
                        color: #006284;
                    }
                    .tagBox{ 
                        font-size: 18px;
                        font-weight: 200;
                        span{ 
                            display: inline-block;
                            margin-right: 16px;
                        }
                    }
                    &:hover{
                        z-index: 10;
                        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.3);
                        opacity: .6;
                        border: 0;
                    }
                }
            }
            .btn{ 
                width: 520px;
                margin: 0 auto 86px;
                border: 1px solid #006284;
            }
        }
    }
}
.tag-btn:checked ~ .top_topic .category ul li:last-child i{
    &.more{ display: none;}
    &.less{ display: block;}
    
}
.tag-btn:checked ~ .tagContent{
    display: block;
}