<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>新理想官網-個案內頁</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="Resource-type" content="" />
	<link rel="icon" href="img/logo.ico">
	<!-- font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<!-- css -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/ElegantIcons/style.css" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/fullpage.css" />
	<link rel="stylesheet" type="text/css" href="css/slick.css" />
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/project_single.css" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/fullpage.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<!-- <script type="text/javascript" src="js/vue.js"></script> -->
</head>

<body>
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  xfbml            : true,
		  version          : 'v9.0'
		});
	  };

	  (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Your Chat Plugin code -->
	<div class="fb-customerchat"
	  attribution="setup_tool"
	  page_id="1155323971167759">
	</div>

	<!-- <div class="line">
		<a href="#" target="_blank"><img src="img/icon_line.svg" alt=""></a>
	</div> -->

	<nav class="project_social">
        <ul>
			<li><a href="tel:03-287-5588"><i class="icon_phone"></i>撥打電話</a></li>
            <li><a href="#section11"><i class="icon_mail"></i>立即預約</a></li>
            <li><a href="https://goo.gl/maps/Njs4B69BtaeN9unS9"><i class="icon_pin"></i>接待會館</a></li>
            <li><a href="https://bit.ly/3eSx4HP"><i class="social_facebook"></i>粉絲專頁</a></li>
        </ul>
	</nav>
	
	<section id="fullpage">
		<div class="section bg pc" style="background-image: url(img/messageImage_1617867909617.jpg); "></div> <!-- background: #000; -->
		<div class="section bg mob" style="background-image: url(img/messageImage_1617875025304.jpg);"></div> <!-- background: #000; -->
		<div class="section theme" id="section1">
			<!-- 多圖輪播底圖 -->
			<div class="project_kv">
				<div class="item kv_slider pc">
					<!-- 電腦圖片1 -->
					<div>
						<div class="group">
							<!-- 標題圖電腦版 -->
							<div class="title wow fadeInUp pc">
								<img src="img/project/kv_logo_pc.png" alt="">
							</div>
							<div class="img">
								<img src="img/project/project_kv_bg1.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 電腦圖片2 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg2.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 電腦圖片3 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg3.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 電腦圖片4 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg4.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 電腦圖片5 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg5.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="item kv_slider mob">
					<!-- 手機圖片1 -->
					<div>
						<div class="group">
							<!-- 標題圖手機版 -->
							<div class="title wow fadeInUp mob">
								<img src="img/project/kv_logo_mob.png" alt="">
							</div>
							<div class="img">
								<img src="img/project/project_kv_bg_mob1.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 手機圖片2 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg_mob2.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 手機圖片3 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg_mob3.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 手機圖片4 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg_mob4.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- 手機圖片5 -->
					<div>
						<div class="group">
							<div class="img">
								<img src="img/project/project_kv_bg_mob5.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="scroll">
					<p>SCROLL</p>
					<div class="scroll_content"></div>
				</div>
			</div>
		</div>
		<!-- 資訊區塊01 -->
		<div class="section theme" id="section2">
			<div class="project_info container project_info1">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">Case</div>
					<div class="type large">EXTERIOR</div>
					<div class="type chinese">建築外觀</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo1">
						<div class="list">
							<span>建築外觀3D示意圖</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_case01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_case01m.jpg" alt="">
						</div>
						<div class="list">
							<span>建築外觀3D示意圖</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_case02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_case02m.jpg" alt="">
						</div>
						
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>最挺你的豪宅建築團隊 上市公司興富發建設</h4>
					<p>因為廣受消費者喜愛，興富發建設，成為全國建築推案量NO.1的建設公司，以橫跨全國建築版圖，以及近四⼗年的建築營造經驗，創下全國建築業界營收及購地雙冠王的榮耀。多年來，興建總個案數超過200個建案，超過35000⼾的家庭，因為信賴，⽽將⼀輩⼦的家，交給興富發來完成。更許下在未來五到⼗年內，成為亞洲前⼗⼤開發商的願景。</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊02 -->
		<div class="section theme" id="section3">
			<div class="project_info container project_info2">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">location</div>
					<div class="type large">Advantage</div>
					<div class="type chinese">地段優勢</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo2">
						<div class="list">
							<span>五星級飯店</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location01m.jpg" alt="">
						</div>
						<div class="list">
							<span>藝術籃球場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location02m.jpg" alt="">
						</div>
						<div class="list">
							<span>購物商場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location03.jpg" alt="">
						</div>
					</div>
					<div class="slider_nav2">
						<div class="list_small">
							<span>五星級飯店</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location01m.jpg" alt="">
						</div>
						<div class="list_small">
							<span>藝術籃球場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location02m.jpg" alt="">
						</div>
						<div class="list_small">
							<span>購物商場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location03m.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>淡水新市鎮超強地段</h4>
					<p>淡水新市鎮超強地段 美麗新影城 第一排 海洋都心，位居淡海新市鎮唯一的中心商業區地段!擁有正對｢新北最大巨幕電影｣的美麗新影城、超過8000坪的美麗新廣場、五星級飯店、藝術籃球場等，未來還可能會有興富發商場進駐，增值能量可期!</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊03 -->
		<div class="section theme" id="section4">
			<div class="project_info container project_info3">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">life</div>
					<div class="type large">function</div>
					<div class="type chinese">生活機能</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo3">
						<div class="list">
							<span>美麗新商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life01.jpg" alt="">
						</div>
						<div class="list">
							<span>家樂福商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life02.jpg" alt="">
						</div>
						<div class="list">
							<span>淡水市民聯合服務中心</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life03.jpg" alt="">
						</div>
						<div class="list">
							<span>美麗新商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life01.jpg" alt="">
						</div>
						<div class="list">
							<span>家樂福商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life02.jpg" alt="">
						</div>
						<div class="list">
							<span>淡水市民聯合服務中心</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life03.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>美麗新商圈、家樂福商圈、⽔碓商圈，完整⽣活機能</h4>
					<p>正對面，即是淡海美麗新影城廣場！距家樂福商圈、淡水市民聯合服務中心及淡水運動中心約3分鐘車程，中山北路水碓商圈約5分鐘車程。休閒方面，淡海美麗新廣場，是超過8000坪的大型購物廣場，擁有新北最大巨幕電影院，還有美食餐廳、百貨商品，與親子娛樂設施，都是假日好去處。此外，還有淡水的家庭重要採買中心的淡水家樂福，以及淡水區市民聯合服務中心、淡水國民運動中心，均已完工啟用。距學區新市國小、育英國小約5分鐘車程。 四大滿貫生活圈，一次滿足生活所需1.造鎮： 淡海新市鎮共1613.64公頃的大開發計畫，完整街廓設計，規劃整齊的新特區。2.學區：5分鐘開車到新市國小及育英國小。3.公園：9分鐘散步到公23公園，享受鮮綠休閒健康好生活。4.商圈：正對面商場。</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊04 -->
		<div class="section theme" id="section5">
			<div class="project_info container project_info1">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">Construction</div>
					<div class="type large">team</div>
					<div class="type chinese">建築團隊</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo1">
						<div class="list">
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_case01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_case01m.jpg" alt="">
						</div>
						<div class="list">
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_case02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_case02m.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>最挺你的豪宅建築團隊 上市公司興富發建設</h4>
					<p>因為廣受消費者喜愛，興富發建設，成為全國建築推案量NO.1的建設公司，以橫跨全國建築版圖，以及近四⼗年的建築營造經驗，創下全國建築業界營收及購地雙冠王的榮耀。多年來，興建總個案數超過200個建案，超過35000⼾的家庭，因為信賴，⽽將⼀輩⼦的家，交給興富發來完成。更許下在未來五到⼗年內，成為亞洲前⼗⼤開發商的願景。</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊05 -->
		<div class="section theme" id="section6">
			<div class="project_info container project_info2">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">Public</div>
					<div class="type large">planning</div>
					<div class="type chinese">公設規劃</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo2">
						<div class="list">
							<span>現場實景拍攝</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location01m.jpg" alt="">
						</div>
						<div class="list">
							<span>藝術籃球場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location02m.jpg" alt="">
						</div>
						<div class="list">
							<span>購物商場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location03m.jpg" alt="">
						</div>
					</div>
					<div class="slider_nav2">
						<div class="list_small">
							<span>五星級飯店</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location01m.jpg" alt="">
						</div>
						<div class="list_small">
							<span>藝術籃球場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location02m.jpg" alt="">
						</div>
						<div class="list_small">
							<span>購物商場</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_location03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_location03m.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>北市難得擁有超強公設</h4>
					<p>超豐富休閒設施，休閒在家遛⼩孩都⽅便！海洋都⼼擁有泳池、SPA、閱覽室、安親教室、K書中⼼、會議中⼼、KTV、桌球室、撞球室、健⾝房、兒童遊藝室、酒吧等，讓您⼀家⼈整天都想賴在家！</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊06 -->
		<div class="section theme" id="section7">
			<div class="project_info container project_info3">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">Traffic</div>
					<div class="type large">function</div>
					<div class="type chinese">交通機能</div>
				</div>
				<div class="photo wow fadeInUp" data-wow-delay="1s">
					<div class="slider_photo slider_photo3">
						<div class="list">
							<span>淡海輕軌</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life01m.jpg" alt="">
						</div>
						<div class="list">
							<span>家樂福商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life02m.jpg" alt="">
						</div>
						<div class="list">
							<span>淡水市民聯合服務中心</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life03m.jpg" alt="">
						</div>
						<div class="list">
							<span>淡海輕軌</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life01.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life01m.jpg" alt="">
						</div>
						<div class="list">
							<span>家樂福商圈</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life02.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life02m.jpg" alt="">
						</div>
						<div class="list">
							<span>淡水市民聯合服務中心</span>
							<!-- 電腦版圖片 -->
							<img class="pc" src="img/project/project_life03.jpg" alt="">
							<!-- 手機版圖片 -->
							<img class="mob" src="img/project/project_life03m.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<ul>
						<li>aaaaa</li>
						<li>aaaaa</li>
						<li>aaaaa</li>
						<li>aaaaa</li>
					</ul>
					<ol>
						<li>aaaaa</li>
						<li>aaaaa</li>
						<li>aaaaa</li>
						<li>aaaaa</li>
					</ol>
					<h4>鄰「淡海新市鎮站」與「崁頂站」，淡江⼤橋113年完⼯</h4>
					<p>由享譽全球的英國建築⼤師札哈·哈蒂設計的淡江⼤橋，預計全線通⾞後，將縮短淡⽔及八⾥兩地區距離，淡⽔與八⾥間的交通，不再需繞⾏關渡⼤橋，可縮短約15公⾥路程，節省約25分鐘⾞程，並可紓緩台2線⽵圍路段及關渡⼤橋30%交通量。往中和秀朗橋約20分鐘，往桃園機場僅約30分鐘，淡海聯外交通更便捷。</p>
				</div>
			</div>
		</div>
		<!-- 資訊區塊07 -->
		<div class="section theme" id="section7">
			<div class="project_info project_video">
				<div class="title">
					<div class="type small">Traffic</div>
					<div class="type large">function</div>
					<div class="type chinese">交通機能</div>
				</div>
				<div class="video wow fadeInUp" data-wow-delay="1s">
					<video width="100%" height="auto" autoplay muted loop playsinline>
						<source src="img/竹城萬葉.mov" type="video/mp4">
						您的瀏覽器不支援 HTML5 影片標籤。
					  </video>
				</div>
			</div>
		</div>
		<div class="section theme" id="section10" style=" background-image: url(img/xxx.jpg); background-color: #fff000;">
			<div class="project_intro">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">information</div>
					<div class="type chinese">基本資料</div>
				</div>
				<div class="introBox wow fadeInUp" data-wow-delay="1s">
					<div class="logo"><img src="img/project/info_logo.png" alt=""></div>
					<ul>
						<li>
							<span>接待會館</span>
							<span>新北市淡水區新市五路三段176號</span>
						</li>
						<li>
							<span>基地位置</span>
							<span>新北市淡水區新市五路三段176號</span>
						</li>
						<li>
							<span>產品特色</span>
							<span></span>
						</li>
						<li>
							<span>坪數規劃</span>
							<span>25~36坪</span>
						</li>
						<li>
							<span>房型規劃</span>
							<span>2~3房</span>
						</li>
						<li>
							<span>樓層規劃</span>
							<span>地下五層地上二十七層</span>
						</li>
						<li>
							<span>建設公司</span>
							<span>興富發建設股份有限公司、宏盛建設股份有限公司</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section theme">
			<div class="project_inside container">
				<div class="title wow fadeInUp" data-wow-delay=".5s">
					<div class="type small">A1-3F</div>
				</div>
				<iframe src="http://vr45.8sms.tw/" width="100%" height="640"></iframe>

				<div class="info wow fadeInUp" data-wow-delay="1.5s">
					<h4>鄰「淡海新市鎮站」與「崁頂站」，淡江⼤橋113年完⼯</h4>
					<p>由享譽全球的英國建築⼤師札哈·哈蒂設計的淡江⼤橋，預計全線通⾞後，將縮短淡⽔及八⾥兩地區距離，淡⽔與八⾥間的交通，不再需繞⾏關渡⼤橋，可縮短約15公⾥路程，節省約25分鐘⾞程，並可紓緩台2線⽵圍路段及關渡⼤橋30%交通量。往中和秀朗橋約20分鐘，往桃園機場僅約30分鐘，淡海聯外交通更便捷。</p>
				</div>
			</div>
		</div>
		<div class="section theme" id="section11" style=" background-image: url(img/xxx.jpg); background-color: #ffffff;">
			<div class="project_map container">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.15952593303!2d121.43536211500948!3d25.197842183895897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442baa458d579d7%3A0xdabd2a4be378a8c3!2zMjUx5paw5YyX5biC5reh5rC05Y2A5paw5biC5LqU6Lev5LiJ5q61MTc26Jmf!5e0!3m2!1szh-TW!2stw!4v1608449442247!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
				<div class="booking">
					<div class="title wow fadeInUp" data-wow-delay=".5s">
						<div class="type small">Booking</div>
						<div class="type chinese">預約賞屋</div>
					</div>
					<div class="desc wow fadeInUp" data-wow-delay="1s">立即預約賞屋，我們將有專人為您服務謝謝！<span>* 欄位表示必填</span></div>

					<div class="project_contact">
						<div class="contactForm wow fadeInUp" data-wow-delay="1.5s">
							<div class="formBox">
								<div class="group">
									<div class="item">
										<label for="name">姓名*</label>
										<input type="text" v-model="name" name="name" placeholder="" required />
									</div>
									<div class="item">
										<label for="phone">連絡電話*</label>
										<input type="text" v-model="phone" name="phone" placeholder="" required />
									</div>
									<div class="item">
										<label for="email">電子信箱</label>
										<input type="text" v-model="email" name="email" placeholder="" />
									</div>
								</div>
								<div class="group">
									<div class="item">
										<label for="message">留言*</label>
										<textarea id="message" v-model="message" name="message" required></textarea>
									</div>
									<div class="item noline">
										<input type="checkbox" id="checkbox" name="checkbox" value="checkbox" v-model="check">
										<label for="checkbox" class="checktxt">本人已知悉以上個人資料蒐集聲明事項<a href="#" target="_blank">隱私權聲明</a></label>
										<button class="send">確認送出</button>
									</div>
								</div>
							</div>
		
						</div>
					</div>
					<div class="notice">
						<a href="index.html">
							DESIGN BY <img src="img/project/form_logo.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<footer class="simple">
				<div class="copyright">
					<p>Copyright © 2021  新理想廣告股份有限公司 版權所有</p>
				</div>
			</footer>
		</div>
		<div class="popup popup_send">
			<div class="popup_content popup_message">
				<img src="img/project/projectImg01.jpg" alt="">
				您已送出資訊，我們將與您聯絡
			</div>
		</div>
	</section>

</body>
<script>

	new WOW().init();
	$(".imgLiquidFill").imgLiquid();

	//fullpage
	// new fullpage('#fullpage', {
		//options here
		// anchors:['TOP_VISUAL', 'PROJECT_VIEW', 'CASE_EXTERIOR', 'LOCATION_ADVANTAGE', 'LIFE_FUNCTION', 'CONSTRUCTION_TEAM', 'PUBLIC_PLANNING', 'TRAFFIC_FUNCTION', 'PROJECT_INSIDE', 'INFORMATION', 'BOOKING'],
	// 	navigation: true,
	// 	navigationPosition: 'right',
	// 	navigationTooltips: ['TOP_VISUAL', 'PROJECT_VIEW', 'CASE_EXTERIOR', 'LOCATION_ADVANTAGE', 'LIFE_FUNCTION', 'CONSTRUCTION_TEAM', 'PUBLIC_PLANNING', 'TRAFFIC_FUNCTION', 'PROJECT_INSIDE', 'INFORMATION', 'BOOKING'],
	// 	autoScrolling:true,
	// 	scrollBar:true,
	// 	scrollHorizontally: true
	// });
	
	//send form	
	$('button').on('click', function () {
		$('.popup_send').addClass('is_acted');
		setTimeout(() => {
			$('.popup_send').removeClass('is_acted');			
		},5000)
	});

	//kv輪播
	$('.kv_slider').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		dots: true,
		autoplay: true,
		autoplaySpeed: 2000,
	});

	//介紹photo輪播
	$('.slider_photo1').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		dots: true,
		autoplay: true,
		autoplaySpeed: 2000,
	});
	$('.slider_photo2').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		dots: false,
		fade: true,
		asNavFor: '.slider_nav2'
	});
	$('.slider_nav2').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.slider_photo2',
		dots: true,
		focusOnSelect: true,
		responsive: [
			{
			breakpoint: 1461,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1
				}
			},
		]
	});
	$('.slider_photo3').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		arrows: false,
		dots: true,
		autoplay: true,
		autoplaySpeed: 2000,
		responsive: [
			{
			breakpoint: 1024,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1
				}
			},
		]
	});

	
</script>

</html>